= surround '(', ')' do
  %i foo

%span Hamlit

%table
  %thead
    %tr
      - 3.times do |i|
        %th
          %blink= "head #{i}"
  %tbody
    - 5.times do |i|
      %tr
        - 3.times do |j|
          %td
            %marquee
              = "#{i}-#{j}"
